<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
  <title>Travel App</title>
</head>

<body>
<header>
  <div class="logo">
    Travel App
  </div>
</header>

<main>
  <div class="content-wrapper">
    <section class="trips-wrapper">
      <div class="title">
        <h1 class="item">My Trips</h1>
        <button class="item button" id="addNewTrip">Add New Trip</button>
      </div>
      <div id="myTrips" class="trips-container">
      </div>
    </section>
  </div>
  <div id="loader" class="loader-overlay">
    <div class="loader-wrapper">
      <div class="loader-container">
        <div class="loader"></div>
      </div>
    </div>
  </div>
  <div id="modal" class="overlay">
    <div class="modal-wrapper">
      <div class="modal">
        <section class="modal-title">
          <h4>Plan Your Next Trip</h4>
          <i id="closeModal">x</i>
        </section>
        <section class="modal-content">
          <form id="tripForm">
            <label for="departDate">Departing Date:</label>
            <input type="date" id="departDate" name="departDate">
            <label for="country">Country:</label>
            <select name="country" id="country">
              <option value="">Please Select A Country</option>
            </select>
            <label for="city">City:</label>
            <select name="city" id="city" disabled>
              <option value="">Please Select A Country First</option>
            </select>
          </form>
          <section class="trip-info-wrapper">
            <div class="trip-img">
              <img id="tripImg" src="https://via.placeholder.com/640x640.png?text=Image+Place+Holder" />
            </div>
            <div class="trip-info">
              <h2>
                My Trip To: <spna id="cityName">-----</spna>, <span id="countryName">-----</span> <br />
              </h2>
              <h2>
                Departing: <span id="departingDate">--/--/----</span>
              </h2>
              <p class="info-text">
                <span class="title">my trip is</span>
                <span class="info">
                  <span id="countdown">-----</span> days away!
                </span>
              </p>
              <p class="info-text">
                <span class="title">Typical weather for then is: </span>
              </p>
              <p class="info-text">
                <span id="weatherInfo" class="info">-----</span>
              </p>
            </div>
          </section>
        </section>
        <section class="modal-footer">
          <button id="cancel" class="button secondary outline">Cancel</button>
          <button id="save" class="button">Save Trip</button>
        </section>
      </div>
    </div>
  </div>
</main>

<footer>
  <p>© Udacity</p>
</footer>
</body>
</html>
