@import "variables";

body {
  font-family: $font-stack;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $bg-color;
  color: $main-font-color;
}

h1 {
  padding: 10px;
  background: darken($bg-color, 4%);
  font-weight: bold;
  text-decoration: underline;
}

main {
  flex: 2;
  padding: 1em;
}

//section {
//  max-width: 800px;
//  margin: 50px auto;
//}

.result-section {
  padding: 1em;
  border: 1px dashed $secondary-color;
  border-radius: 5px;

  #results, .results {
    padding: 10px;
    background: darken($bg-color, 4%);
  }
}

.trip-info-wrapper {
  padding: 1em;
  border: 1px dashed $secondary-color;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .trip-img {
    flex: 0 25%;
    height: 175px;
  }
  .trip-info {
    flex: 0 60%;
    padding: 10px;
    margin: 0;
    background: darken($bg-color, 4%);

    h2 {
      padding: 5px 0;
      margin-bottom: 5px;
      text-decoration: none;
      font-size: 1.5em;
      line-height: 1;
    }
  }
}

.info-text {
  text-transform: capitalize;
  margin-bottom: 0.5em;

  .title {
    font-weight: bold;
  }
}

.button {
  display: inline-block;
  width: auto;
  padding: 5px 20px;
  margin: 10px 0;
  background: $primary-color;
  font-size: 1em;
  line-height: 1;
  color: $alt-font-color;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: $primary-color;
  transition: ease 0.3s;

  &:hover {
    background: darken($primary-color, 2.5%);
    border-color: darken($primary-color, 2.5%);
  }

  &:active {
    background: darken($primary-color, 4.5%);
    border-color: darken($primary-color, 4.5%);
  }

  &.secondary {
    background: $secondary-color;
    border-color: $secondary-color;

    &:hover {
      background: lighten($secondary-color, 10%);
      border-color: lighten($secondary-color, 10%);

    }

    &:active {
      background: lighten($secondary-color, 5%);
      border-color: lighten($secondary-color, 5%);
    }

    &.outline {
      color: $secondary-color;
    }
  }

  &.full-width {
    display: block;
    width: 100%;
    text-align: center;
  }

  &.outline {
    background: transparent;
    color: $primary-color;

    &:hover {
      background: transparent;
    }

    &:active {
      background: transparent;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.38);
  display: none;
  z-index: 2;
}

.modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: ease 0.3s;

  .modal {
    width: 750px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    background: $bg-color;

    section {
      margin: 0;
      padding: 1em;
    }

    .modal-title {
      display: block;
      position: relative;
      background: $primary-color;
      color: $alt-font-color;

      #closeModal {
        position: absolute;
        display: block;
        color: $alt-font-color;
        top: 4px;
        right: 14px;
        font-size: 2em;
        cursor: pointer;
      }
    }

    .modal-content {
      flex-grow: 1;
    }

    .modal-footer {
      text-align: right;
      border-top: 1px solid rgba(73, 73, 73, 0.42);
    }
  }
}

.active {
  display: block !important;
}

.hide {
  display: none !important;
}
