@import "variables";

//form {
//  border: 1px solid $secondary-color;
//  border-radius: 3px;
//  padding: 40px;
//  transition: ease 0.3s;
//}

input {
  padding: 5px 20px;
  width: 100%;
  line-height: 16px;
  margin: 10px 0;
}

select {
  padding: 5px 10px;
  width: 100%;
  line-height: 16px;
  margin: 10px 0;
}
